<h1>BDD Test</h1>
<div>
  <button (click)="displayText()">Display Text</button>
  <div class="display">{{ clickMessage }}</div>
</div>

<br>

<table>
  <tr>
    <th>First name</th>
    <th>State</th>
    <th>Favorite color</th>
  </tr>
  <tbody>
    <tr *ngFor="let person of people">
      <td>{{person.name}}</td>
      <td>{{person.state}}</td>
      <td>{{person.favoriteColor}}</td>
    </tr>
  </tbody>
</table>

<br><br>

<a href="https://www.google.com" target="_blank">Google</a> <br>
<a href="https://www.apple.com" target="_blank">Apple</a> <br>
<a href="https://www.samsung.com/us/1/" target="_blank">Samsung</a> <br>

<br><br>
<button routerLink="page-2" routerLinkActive="active">Page 2</button>
<button routerLink="page-3" routerLinkActive="active">Page 3</button>
<router-outlet></router-outlet>
